<div class="container">
  <div class="row">
    <div class="col-sm-offset-3 col-sm-6">
      <BR>
        <%= simple_form_for(@talent) do |f| %>
        <%= f.association :category %>
        <%= f.input :talent_proposed, label:'What is your talent ?', placeholder: '' %>
        <%= f.input :description, label: 'Describe your talent please :)', placeholder: 'Short description with the following information : how may year of experience are you practicing your talent.' %>
        <%= f.input :meeting, as: :boolean, checked_value: true, unchecked_value: false, placeholder: 'true or false', label: 'Would you like to give lessons?' %>
      <BR>
        <%= f.button :submit, value:"Share your talent !" %>
      <% end %>
      <BR>
    </div>
  </div>
</div>




