<div class="col-xs-12 col-sm-4">
    <div class="card">
      <div class="card-header">
        <h3><%= @talent.talent_proposed.capitalize %></h3>
        <p><%= @talent.category.name.capitalize %> </p>
      </div>
      <div class="card-image" style="background-image:
      url('https://lorempixel.com/300/300?random}')">
      </div>
      <div class="card-description">
        <p><%= icon("user-o") %> <%= @talent.user.first_name %></p>
        <h6
        ><%= icon("map-marker") %> <%= @talent.user.address %></h6>
      </div>
    </div>
</div>

<%= render 'form' %>
