<div class="container">
  <div class="row">
    <div class="card edit_talent" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
      <div class="card-category"><h2><%= @talent.talent_proposed.capitalize %></h2>
      </div>
      <div class="card-description">
        <p><%= @talent.category.name.capitalize %></p>
        <p><%= @talent.user.first_name %></p>
        <p><%= icon("map-marker") %> <%= @talent.user.address %> </p>

      </div>
      <%= cl_image_tag image_path_for(@talent.user), width: 100, heigth:100, crop: :fill, class: "avatar" %>
      <a class="card-link" href="#" ></a>
    </div>
  </div>
</div>

<h2 class= "text-center"> <%=  icon("pencil")  %> Edit your talent !</h2>

        <%= render 'form' %>


