<div class="container">
  <div class="row">
    <% @talents.each do |talent| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card text-center">
          <div class="card-header">
            <h3><%= talent.talent_proposed.capitalize %></h3>
            <p><%= talent.category.name.capitalize %> </p>
          </div>
          <div class="card-avatar">
            <%= cl_image_tag image_path_for(talent.user), width: 150, heigth:150, crop: :crop, gravity: :face, class: "avatar" %>
          </div>
          <div class="card-description">
            <h4><%= icon("user-o") %> <%= talent.user.first_name %></h4>
            <h6><%= icon("map-marker") %> <%= talent.user.address %></h6>
          </div>
          <%= link_to "See more", talent_path(talent), class: "btn btn-primary see_more" %>
        </div>
      </div>
    <% end -%>
  </div>
</div>
