<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8">
      <div class="m-profile material-shadow-1">
        <div class="card">
          <div class="card-header">
            <h3><%= @talent.talent_proposed.capitalize %></h3>
            <p><%= @talent.category.name.capitalize %> </p>
          </div>
          <div class="card-image" style="background-image:
          url('https://lorempixel.com/300/300?random}')">
          </div>
          <div class="card-description">
            <p><%= icon("user-o") %> <%= @talent.user.first_name %></p>
            <p><%= icon("map-marker") %> <%= @talent.user.address %></p>
            <p><%= icon("star") %> <%= @talent.description %></p>
            <p><%= icon("book") %> Teach :  <%= @talent.lesson ? icon("check") : icon("times") %></p>
          </div>
          <a href="" class="btn btn-primary see_more">Contact</a>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4">
      <h3>Start the conversation</h3>
        <%= simple_form_for(:conversation, url: :conversations) do |f| %>
          <%= f.input :subject %>
          <%= f.input :user_id, input_html: { value: @recipient.id }, as: :hidden %>
          <%= f.input :body, as: :text %>
          <%= f.button :submit, value: "Contact #{@recipient.first_name}" %>
        <% end %>
    </div>
  </div>
</div>
