<div class="container">
  <div class="row">
    <div class="col-xs-10 col-sm-6">
      <div class="m-profile material-shadow-1">
        <div class="card show_height">
          <div class="card-header">
            <h3><%= @talent.talent_proposed.capitalize %></h3>
            <p><%= @talent.category.name.capitalize %> </p>
          </div>
          <%= image_tag 'https://lorempixel.com/400/400?random}', class: "avatar-large" %>
          <div class="card-description">
            <p><%= icon("user-o") %> <%= @talent.user.first_name %></p>
            <p><%= icon("map-marker") %> <%= @talent.user.address %></p>
            <p><%= icon("star") %> <%= @talent.description %></p>

            <p><%= icon("book") %> Teach :  <%= @talent.lesson ? icon("check") : icon("times") %></p>

            <p><%=  icon("pencil")  %> : <%=
              if @talent.user_id == current_user.id
                link_to 'Edit', edit_talent_path(@talent)
              else
                  icon("times")
              end %>
            </p>

          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-10 col-sm-6">
      <div class="card show_height">
        <h3>Start the conversation</h3>
          <%= simple_form_for(:conversation, url: :conversations) do |f| %>
            <%= f.input :Title %>
            <%= f.input :user_id, input_html: { value: @recipient.id }, as: :hidden %>
            <%= f.input :Message, as: :text %>
            <%= f.button :submit, value: "Contact #{@recipient.first_name}" %>
          <% end %>
      </div>
    </div>
  </div>
</div>
