<div class="col-xs-offset-4 col-xs-4">
    <div class="card">
      <div class="card-header">
        <h3><%= @talent.talent_proposed.capitalize %></h3>
        <p><%= @talent.category.name.capitalize %> </p>
      </div>
      <div class="card-image" style="background-image:
      url('https://lorempixel.com/300/300?random}')">
      </div>
      <div class="card-description">
        <p><%= icon("user-o") %> <%= @talent.user.first_name %></p>
        <p><%= icon("map-marker") %> <%= @talent.user.address %></p>
        <p><%= icon("star") %> <%= @talent.description %></p>
        <p><%= icon("book") %> Teach :  <%= @talent.lesson ? icon("check") : icon("times") %></p>
      </div>
      <a href="" class="btn btn-primary see_more">Contact</a>
    </div>

    <h1>New conversation </h1>
    <%= form_tag conversations_path, method: :post do %>
    <div>
      <%= hidden_field_tag :user_id, @recipient.id %>
    </div>
    <div>
      <%= text_field_tag :subject, nil, placeholder: "subject" %>
    </div>
    <div>
      <%= text_area_tag :body, nil, placeholder: "Leave a comment" %>
    </div>
    <%= submit_tag "Send" %>
  <% end %>
</div>
