<div class="container">
  <div class="row">
    <div class="col-md-6 .col-md-offset-3">
      <h3 class="center">All conversations</h3>

      <div class="message">
        <img src="current_user.facebook_picture_url" class="message-avatar" ="">
          <div class="message-name"></div>
            <% @conversations.each do |conversation| %>

              <h3>  <%= link_to conversation.subject, conversation_path(conversation) %> </h3>

            <% end %>
          </div>
        </div>
      </div>
      <BR>
      <%= link_to "Find a talent ! ", talents_path, class: 'btn btn-primary btn-lg' %>
    </div>
  </div>
</div>

<div class="messages"><br/><center><h1>Your discussions</h1></center>
</div>


<div class="Your discussions">
  <% if @discussions.any? %>
    <div class="container">
      <div class="row">
        <% @conversationss.each do |conversation| %>
          <div class="col-sm-4 col-md-3 col-xs-12">
            <div class="stage-bk-det" data-toggle="modal" data-target="#preview-<%= conversation.id %>">
              <div class="card-back" data-target="#preview">
                  <div class="card-image"  style="background-image: url('http://<%= basket.cloth.images_urls.first %>');">
                    <h3>  <%= link_to conversation.subject, conversation_path(conversation)  method: :delete, data: { confirm: 'Are you sure?' } do %> </h3>
                     <!-- <div class="delete"> <%= icon("trash") %></div> -->
              <!--       <% end %>
                    <div class="price"> <%= basket.cloth.brand %></p></div>
                  </div> -->

                <div class="card-informations">
                  <h3><%= basket.cloth.name %> - <%= basket.cloth.price %>$ </h3>
                  <p><%= basket.cloth.description %></p>
                </div>
              </div>
            </div>


            <!-- Modal -->
            <div class="modal fade" id="preview-<%= basket.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="container">
                      <div class="row">
                        <div class="col-md-4">
                          <div class="sp-wrap">
                            <% basket.cloth.images_urls.each do |image|%>
                              <%= link_to "http://#{image}" do %>
                                <%= image_tag "http://#{image}" %>
                              <% end %>
                            <% end %>
                          </div>
                        </div>
                        <div class="col-md-2">
                          <p><strong>Name: </strong><%= basket.cloth.name %></p>
                          <p><strong>Brand: </strong><%= basket.cloth.brand %></p>
                          <p><strong>Price: </strong><%= basket.cloth.price %></p>
                          <p><strong>Size: </strong><%= basket.cloth.sizes.join(", ") %></p>
                          <p><strong>Price: </strong><%= basket.cloth.price %></p>
                          <p><strong>Colors: </strong><%= basket.cloth.color %></p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <%= link_to 'Go to the website', basket.cloth.provider_url, class: 'btn btn-primary', target: "_blank" %>
                  </div>
                </div>
              </div>
            </div>
            <!-- end modal -->
          </div>
        <% end %>
        <!-- <div class="col-sm-4 col-md-3 col-xs-12">
          <div class="stage-bk-det">
            <div class="card-back">
              <div class="card-image">
                  <div class="crux">
                    <p><center><i class="fa fa-plus" aria-hidden="true"></i></center></p>
                  </div>
              </div>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  <% else %>
    <br/>
    <center><br/><h1>Your basket is empty.</h1><br/>
    <iframe src="https://giphy.com/embed/kHvk0CbfL5d4I" width="480" height="267" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></center>

  <% end %>
</div>

