<div class="container">
  <div class="row">
    <h1> <%= @conversation.subject %></h1>

    <% @conversation.receipts_for(current_user).each do |receipt| %>
      <div>
      <div>
        <%= receipt.message.sender.name %> commented:
      </div>
      <p> <%= receipt.message.body %> </p>
      </div>
    <% end %>

    <%= form_tag conversation_messages_path(@conversation), method: :post do %>
      <div>
        <%= text_area_tag :body %>
      </div>

      <%= submit_tag "Send  your message.", class: 'btn btn-primary btn-lg' %>
    <% end %>

    <BR>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
      Appointment fixed ?
    </button>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Your coffee</h4>
          </div>
          <div class="modal-body">
            When:
            <BR>
            Where:
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Fix appointment</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
