<div class="container">
  <div class="row">
    <h1> <%= @conversation.subject %></h1>
    <div class="col-xs-12 col-sm-8">
      <div class="conversations">
      <% @conversation.receipts_for(current_user).each do |receipt| %>
        <div class="sent-msg">
          <% if receipt.message.sender != current_user %>
            <div class="sent-msg-sender">
              <div class="sender-avatar">
                <%= cl_image_tag image_path_for(receipt.message.sender), width: 35, heigth: 35, crop: :fill, class: "avatar" %>
                <h3><%= receipt.message.sender.first_name %> wrote:</h3>
              </div>
              <h4><%= receipt.message.body %> </h4>
            </div>
          <% else %>
            <div class="sent-msg-receiver">
              <%= cl_image_tag image_path_for(receipt.message.sender), width: 35, heigth: 35, crop: :fill, class: "avatar" %>
              <h3><%= receipt.message.sender.first_name %> wrote:</h3>
              <h4><%= receipt.message.body %></h4>
            </div>
          <% end %>
        </div>
      <% end %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-8" id="new_message">
      <div class="new_conversation">
        <h3> Write a new message: </h3>
        <%= form_tag conversation_messages_path(@conversation), method: :post do %>

          <%= text_area_tag :body %>
          <div class="text-right">
            <%= submit_tag "Send", class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    <BR>
      <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
        Appointment fixed ?
    </button>

      <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Your coffee</h4>
          </div>
          <div class="modal-body">
            When:
            <BR>
            Where:
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Fix appointment</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
