<div class="container">
  <div class="row">
    <h1> <%= @conversation.subject %></h1>

    <% @conversation.receipts_for(current_user).each do |receipt| %>
      <div>
      <div>
        <%= receipt.message.sender.name %> commented:
      </div>
      <p> <%= receipt.message.body %> </p>
      </div>
    <% end %>

    <%= form_tag conversation_messages_path(@conversation), method: :post do %>
      <div>
        <%= text_area_tag :body %>
      </div>

      <%= submit_tag "Send  your message.", class: 'btn btn-primary btn-lg' %>
      <%= link_to "Appointment fixed", converasation_appointments_path(@conversation), class: 'btn btn-primary btn-lg', method: :post %>
    <% end %>
  </div>
</div>
