<body>
  <div id="banner">
    <div class="banner-content">
      <div class=col-xs-12>
        <h1>Meet a Talent.</h1>
        <h2>Passionate people sharing</h2>
        <h2>their experience over a drink.</h2>
        <br>
        <form action="<%= talents_path %>" class="flex-form navbar-left" role="search">
          <input type="text" name="query" class="form-control" placeholder="Search">
          <select type="text" name="category_id" class="form-control" placeholder="Select a category">
            <option value="">All</option>
            <% @categories.each do |category| %>
              <option value="<%= category.id %>"><%= category.name %></option>
            <% end %>
          </select>
          <button type="submit" class="btn btn-primary btn-lg">Let's go!</button>
        </form>
      </div>
    </div>
  </div>

<BR>
    <div class="wrapper-features">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="feature">
              <%= image_tag("curious.png")%>
              <h3>Curious about a specific topic ?</h3>
              <p>Find the talent you would like to meet !</p>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="feature">
              <%= image_tag("find.png")%>
              <h3>Find the best profile to help you</h3>
              <p>Contact him or her, it's easy !</p>
            </div>
          </div>

         <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="feature">
              <%= image_tag("fixrdv.png")%>
              <h3>Chop Chop, fix an appointment.</h3>
              <p>Fix a meeting and don't be late !</p>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="wrapper-cards">
      <div class="container">
      <h3 class="text-center">CATEGORIES 1 CAFÉ 1 TALENT :</h3>
        <div class="row">
          <% @categories.each do |category| %>
            <div class="col-xs-12 col-sm-4">
              <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path "#{category.name.downcase}.jpg" %>');">
                <div class="card-description">
                  <h2><%= category.name %></h2>
                </div>
                <%= link_to '', talents_path(category_id: category.id), class: "card-link" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

